.profile{
    display: table;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 300px;
    padding: 10px;
    border: #aaa 1px solid;
}
#profile_img{
    display: table;
    margin: auto;
    width: 200px;
    padding: 5px;
    background-color: white;
    border-radius: 10%;
    border: 0;
    /*clip-path: circle(40px at center);*/
    box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.2);
    font-weight: 500;
}
#title{
    color: #aaa;
    line-height: 180%;
}
#name{
    color: #ddd;
}
.contents{
    display: table;
    margin: auto;
    margin-top: 40px;
    width: 100%;
    padding: 10px;
    border: #aaa 1px solid;
}
.contents dt{
    color: #08FDD8;
    font-weight: 600;
}
.content{
    margin-bottom: 20px;
}

/*모바일 버전*/
@media only screen and (max-width: 480px){
    .profile, .contents{
        width: 300px;
    }

}
