html {
    scroll-behavior: smooth;
}
body{
    padding: 0; 
    margin: 0; 
    word-break: break-all;

    /*드래그 비허용*/
    /*
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;
    */
}
body.not_scroll{
    overflow: hidden;
}

main> section{
    position: relative;
    height: 100vh;
}
