body{
    padding: 0; 
    margin: 0; 
    width: 100vw;
    word-break: break-all;

    /*드래그 비허용*/
    /*
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;
    */
}
body.not_scroll{
    overflow: hidden;
}

main{
    padding: 30px;
    margin: 30px 10vw;
}
@media only screen and (max-width: 480px){
    main{
        padding: 10px; 
        margin:10px;}
}

