@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Sacramento&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}
/*
section.intro > .content > h1{ 
    font-family: 'Nanum Gothic', sans-serif;
 }
*/

/*모바일 버전*/
@media only screen and (max-width: 480px){
    body{font-size: 10pt;}
}
