.header { 
    height: 100vh;
    overflow: hidden;
    background-color: black; 
}
.header> video { 
    position: absolute; 
    bottom: 0px;
    height: 100vw; 
    background-color: black; 
}
.title-text {
    position: absolute; 
    top: 50%; 
    width: 100%;
    text-align: center;
}
.title-text h1 {
    margin-top: -24px; 
    font-size: 48px; 
    color: #ffffff;
}
.title-text p { 
    margin-top: -24px; 
    font-size: 24px; 
    color: #979797; 
}

/*모바일 버전*/
@media only screen and (max-width: 480px){
    .title-text h1{
        margin-top: -20px; 
        font-size: 24pt;
    }
    .title-text p{
        margin-top: -20px; 
        font-size: 16pt;
    }
}