nav{position: absolute; top: 3%; width: 100%;}
nav> table{float: right; margin-right: 40px;}
.nav a{color: white; text-decoration: none;}
.nav a:hover {color: #08FDD8; text-decoration: none;}
.nav td{text-align: center; width: 80px;}
.here{
    color: #08FDD8;
    font-weight: 700;
}

/*모바일 버전*/
@media only screen and (max-width: 480px){
    nav{top: 5px}
    nav> table{float:none; margin-left: auto; margin-right: auto;}
    .nav a{font-size: 10pt;}
}