.skill{
    text-align: center;
    padding-top: 40px 0;
}
.contain{
    display: table;
    margin: auto;
    margin-bottom: 40px;
}
.contain img{
    height: 72px;
    width: 72px;
}
.contain> button{
    float: left;
    margin: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 10%;
    border: 0;
    /*clip-path: circle(40px at center);*/
    box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.2);
    font-weight: 500;
}
.contain> button:hover, .contain> button:focus{
    filter: brightness(70%);
    outline: 0;
}
.contain> button:hover img, .contain> button:focus img{
    filter: blur(1px);
}
#my_modal {
    display: none;
    width: 500px;
    padding: 20px 60px;
    background-color: #fefefe;
    border-radius: 8px;

    /*
    position: fixed;
    display: block;
    box-Shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: zIndex + 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: (-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    */
}
#my_modal .modal_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    width: 24px;
    height: 24px;
}
.modal_img{
    float: left;
    height: 72px;
    width: 72px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.modal_layer{
    position: fixed;
    z-index: 10;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

@media only screen and (min-width: 480px) and (max-width: 800px){
    .contain{
        width: 336px;
    }
    #my_modal {
        width: 300px;
    }
}

/*모바일 버전*/
@media only screen and (max-width: 480px){
    .contain{
        width: 272px;
    }
    .contain img{
        height: 48px;
        width: 48px;
    }
    .item{
        margin: 5px;
        font-size: 8pt;
    }
    #my_modal {
        width: calc(100vw - 150px);
        min-height: 30vh;
        max-height: 80vh;
    }
    .modal_img{
        float: none;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }   
}

/*다크 모드 버전*/
@media (prefers-color-scheme: dark) {
    .modal_back_layer{
        background-color: rgba(0,0,0,0.8);
    }
}
  