.skill{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.contain{
    display: table;
    margin: auto;
    margin-bottom: 40px;
}
.contain img{
    height: 72px;
    width: 72px;
}
.item{
    float: left;
    margin: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 10%;
    border: 0;
    /*clip-path: circle(40px at center);*/
    box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.2);
    font-weight: 500;
}
.item:hover, .item:focus{
    filter: brightness(70%);
    outline: 0;
}
.item:hover img{
    filter: blur(1px);
}
.item p{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #303030;
}
#my_modal {
    display: none;
    width: 300px;
    padding: 20px 60px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
}

#my_modal .modal_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    width: 24px;
    height: 24px;
}
@media only screen and (min-width: 480px) and (max-width: 800px){
    .contain{
        width: 336px;
    }
}

/*모바일 버전*/
@media only screen and (max-width: 480px){
    .contain{
        width: calc(100vw-20px); /*272px;*/
    }
    .contain img{
        height: 48px;
        width: 48px;
    }
    .item{
        margin: 5px;
        font-size: 8pt;
    }
    #my_modal {
        width: 200px;
    }

}

  