#skill> div.content{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
}
#skill h2{
    text-align: center;
    font-weight:bold;
    margin-top: 20px;
    margin-bottom: 0;
    color:rgb(218, 218, 218);

}
#skill .contain{
    display: table;
    margin: auto;
    margin-bottom: 20px;
}
#skill img{
    height: 48px;
    width: 48px;
}
#skill button{
    float: left;
    margin: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 10%;
    border: 0;
    box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.2);
    font-weight: 500;
}
#skill button:hover, 
#skill button:focus{
    filter: brightness(70%);
    outline: 0;
}
#skill button:hover img,
#skill button:focus img{
    filter: blur(1px);
}

/*mobile*/
@media only screen and (max-width: 480px){
    #skill .contain{
        width: 272px;
    }
    #skill button{
        margin: 5px;
        font-size: 8pt;
    }
}