.nav {
    position: fixed;
    z-index: 2;
    display: flex;
    align-items:center;
}

.change_nav{
    width: 100vw;
    height: 100vh;
}

.menu{
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
}

.nav .menu> div {
    width: 35px;
    height: 5px;
    background-color:var(--color-default);
    border-radius: 5px;
    margin: 6px 0;
    transition: 0.4s;
}

.change_nav .menu> div:nth-child(1) {
    background-color: white;
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change_nav .menu> div:nth-child(2) {
    opacity: 0;
}

.change_nav .menu> div:nth-child(3) {
    background-color: white;
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.nav ul{
    visibility: hidden;
    opacity: 0;
    width: 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0;
    background-color: var(--color-layer);
}

.change_nav ul{
    visibility: visible;
    opacity: 1;
    width: 250px;
    transition: 0.4s;
}

.nav a{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    color:var(--color-point);
    font-weight: bold;
}



/*mobile*/
@media only screen and (max-width: 480px){
    .nav ul{
        display: none;
        width: 100vw;
    }
    .change_nav ul{
        display: flex;
        width: 100vw;
        
        /*fadein animation*/
        animation: fadein 0.4s;
        -moz-animation: fadein 0.4s;
        -webkit-animation: fadein 0.4s;
        -o-animation: fadein 0.4s;
    }
}