
#contect img{
    margin: auto;
    vertical-align: middle;
    width: 40px;
}
#contect .box{
    position: relative;
    height: 80px;
}
#contect a{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    text-decoration:none;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    color: white;
    background-color: var(--color-layer);
}
#contect a:hover{
    opacity: 0.7;
}
#contect .box:nth-child(1){
    background: linear-gradient(135deg, #F9E000, #F9E00088);
}
#contect .box:nth-child(2){
    background: linear-gradient(135deg, #2DB400, #2DB40088);
}
#contect .box:nth-child(3){
    background: linear-gradient(135deg, #171515, #17151588);
    color: var(--color-light);
}
#contect .box:nth-child(4){
    background: linear-gradient(135deg, #515BD4, #8134AF, #DD2A7B, #F58529);
    color: var(--color-light);
}

/*
form> h1{
    text-align: center;
    color: rgb(124, 124, 124);
}
form> textarea{
    height: 250px;
}
form> button{
    width: 110px;
    height: 77px;
    margin: auto;
    background-color: rgb(97, 97, 97);
}

form :-webkit-any(input, textarea, button){
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.2);
    border: 0;
}

form :-webkit-any(input, textarea)::placeholder,
form> button{
    color:rgb(214, 214, 214);
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
*/

/*mobile*/
@media only screen and (max-width: 480px){
}