html {
    scroll-behavior: smooth;
}
body{
    padding: 0; 
    margin: 0; 
    word-break: break-all;
}
body.not_scroll{
    overflow: hidden;
}
main{
    scroll-snap-type: y mandatory;
}

main> section{
    position: relative;
    min-height: 100vh;
    scroll-snap-align: center;
}
main> section:not(.intro){
    padding: 40px;
}

section:nth-child(even){
    background-color: rgb(248, 248, 248);
}

/*mobile*/
@media only screen and (max-width: 480px){
    main> section:not(.intro){
        padding: 40px 10px;
    }
}