#my_modal {
    display: none;
    height: 300px;
    width: 500px;
    padding: 20px 40px;
    background-color: #fefefe;
    border-radius: 8px;

    /*
    position: fixed;
    display: block;
    box-Shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: zIndex + 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: (-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    */
}
.modal_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    width: 24px;
    height: 24px;
}

button.arrow {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    border: solid rgb(109, 109, 109);
    border-width: 0 7px 7px 0;
    display: inline-block;
    background-color:transparent;
}  
button.arrow:hover{
    filter: brightness(0.5);
}
button.left {
    left: -60px;
    transform: translate(0, -50%) rotate(135deg);
    -webkit-transform: translate(0, -50%) rotate(135deg);
    -moz-transform: translate(0, -50%) rotate(135deg);
}
button.right {
    right: -60px;
    transform: translate(-0, -50%) rotate(-45deg);
    -webkit-transform: translate(-0, -50%)  rotate(-45deg);
    -moz-transform: translate(-0, -50%) rotate(-45deg);
}
.modal_img{
    float: left;
    height: 72px;
    width: 72px;
    margin-right: 20px;
}
.modal_detail{
    float: left;
    max-height: 300px;;
    overflow: auto;
}
#modal_layer{
    position: fixed;
    z-index: 10;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
}

/*모바일 버전*/
@media only screen and (max-width: 480px){
    #my_modal {
        height: 300px;
        width: calc(100vw - 100px);
        padding: 20px 30px 70px 30px;
    }
    button.arrow {
        top: auto;
        bottom: 10px;
        width: 25px;
        height: 25px;
    }
    button.left {
        left: 20px;
        transform: translate(0, -50%) rotate(135deg);
        -webkit-transform: translate(0, -50%) rotate(135deg);
    }
    button.right {
        right: 20px;
        transform: translate(-0, -50%) rotate(-45deg);
        -webkit-transform: translate(-0, -50%)  rotate(-45deg);
    }
    .modal_img{
        float: none;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .modal_detail{
        max-height: 300px;
    }
}

/*다크 모드 버전*/
@media (prefers-color-scheme: dark) {
    #modal_layer{
        background-color: rgba(0,0,0,0.9);
    }
}
  