html {
    scroll-behavior: smooth;
}

body{
    padding: 0; 
    margin: 0; 
    word-break: break-all;
}

body.not_scroll{
    overflow: hidden;
}

section{
    position: relative;
    min-height: 90vh;
    height: 700px;
}

section:not(.intro){
    padding: 40px 70px;
}

section:nth-child(even){
    background-color: rgb(248, 248, 248);
}

section> h1{
    height:50px;
    position:sticky;
    top:18px;
    color: #333;
}
.content{
    width: 100%;
}


/*mobile*/
@media only screen and (max-width: 480px){
    section:not(.intro){
        padding: 40px 10px;
    }
    section> h1{
        top:20px;
        margin-left: 50px;
    }
}