.nav {
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;    
    transition: 0.4s;
}

.change_nav{
    width: 250px;
    height: 100vh;
    background-color: rgba( 0, 0, 0, 0.9 );
}

.menu{
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
}

.nav .menu> div {
    width: 35px;
    height: 5px;
    background-color: #333;
    border-radius: 5px;
    margin: 6px 0;
    transition: 0.4s;
}

.change_nav .menu> div{
    background-color: white;
}

.change_nav .menu> div:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change_nav .menu> div:nth-child(2) {
    opacity: 0;
}

.change_nav .menu> div:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.nav ul{
    list-style: none;
    display: none;
    padding: 0;
}

.change_nav ul{
    display: block;
    text-align: center;
}

.nav a{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    color: #08FDD8;
    font-weight: bold;
}



/*mobile*/
@media only screen and (max-width: 480px){
    .change_nav{
        width: 96vw;
    }
}