#about img{
    display: block;
    width: 180px;
    border-radius: 15px;
    margin: auto;
}
#about #info{
    width: 100%;
}

#about #info> dt{
    float: left;
    width: 5em;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    color: rgb(124, 124, 124);
}

#about #info> dd{
    margin: 0;
    line-height: 30px;
}
