@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Sacramento&display=swap');

:root{
    --color-point:#08FDD8;
    --color-light:rgb(240, 240, 240);
    --color-dark:#333;
    --color-layer:rgba( 0, 0, 0, 0.9 );
    --color-odd:rgb(248, 248, 248);
}

html {
    scroll-behavior: smooth;
}

body{
    width: 100%;
    padding: 0; 
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10pt;
}
body.not_scroll{
    overflow: hidden;
}

section{
    position: flex;
    max-height: 1000px;
    min-height: 100vh;
}
section:nth-child(odd){
    background-color: var(--color-odd);
}

h1{
    position:sticky;
    top:0;
    z-index: 1;
    height:100px;
    line-height: 70px;
    padding-left: 80px;
    margin: 40px 0 0 0;
    color:var(--color-dark);
    vertical-align: middle;
    background:linear-gradient(to bottom, white, transparent);
}
h1::before  {content: "{ ";}
h1::after   {content: " }";}

article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 10px;
    padding: 0 70px 30px 70px;
    max-width: 600px;
    margin: auto;
}

.box{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 25px;
    background-color: rgb(240, 240, 240);
    box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}


/*mobile*/
@media only screen and (max-width: 480px){
    article{
        padding: 10px;
    }
    section> h1{
        padding-left: 0px;
        text-align: center;
    }
}

/*인쇄 시*/
@media only print{
    h1{
        position:relative;
        background: transparent;
    }
    section:nth-child(odd){
        background: transparent;
    }    
}

/*animation*/
@keyframes fadein{
    from    {opacity: 0;}
    to      {opacity: 1;}
}
@-moz-keyframes fadein{     /*Firefox*/
    from    {opacity: 0;}
    to      {opacity: 1;}
}
@-webkit-keyframes fadein{  /*Chrome, Safari*/
    from    {opacity: 0;}
    to      {opacity: 1;}
}
