section#skill{
    padding: 30px 10px;
    margin: 10px;
}
section#skill> h3{
    text-align: center;
}
section#skill> .contain{
    display: table;
    margin: auto;
    margin-bottom: 40px;
}
section#skill> .contain img{
    height: 48px;
    width: 48px;
}
section#skill> .contain> button{
    float: left;
    margin: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 10%;
    border: 0;
    /*clip-path: circle(40px at center);*/
    box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.2);
    font-weight: 500;
}
section#skill> .contain> button:hover, 
section#skill> .contain> button:focus{
    filter: brightness(70%);
    outline: 0;
}
section#skill> .contain> button:hover img,
section#skill> .contain> button:focus img{
    filter: blur(1px);
}

/*mobile*/
@media only screen and (max-width: 480px){
    section#skill> .contain{
        width: 272px;
    }
    section#skill> .contain> button{
        margin: 5px;
        font-size: 8pt;
    }
}