#about .box{
    background-color: var(--color-odd);
}

#about .box> div{
    display: block;
    float: left;
    margin: 30px 10px;
    text-align: center;
    line-height: 10px;
}

#about img{
    width: 120px;
    border-radius: 100%;
}
dl{
    display: block;
    float: left;
    width: 250px;
    margin: 30px;
}

dt{
    font-weight:bold;
    margin-top: 10px;
    color:var(--color-dark);
}
dt:first-child{margin-top: 0;}

#about .box span{
    color: gray;
    font-size: 8px;
    margin-left: 8px;
}

/*mobile*/
@media only screen and (max-width: 480px){
    #about .box{
        background-color: transparent;
        box-shadow: none;
    }

    #about .box> div{
        float: none;
        margin: auto;
    }
    dl{
        float: none;
        margin: 20px auto;
    }
}