#contect a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    text-decoration:none;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    color: white;
    background-color: var(--color-layer);
    opacity: 0;
}
#contect a:hover{
    opacity: 0.7;
}

#contect .box:nth-child(1){
    background: linear-gradient(135deg, #F9E000, #F9E00088);
}
#contect .box:nth-child(2){
    background: linear-gradient(135deg, #2DB400, #2DB40088);
}
#contect .box:nth-child(3){
    background: linear-gradient(135deg, #171515, #17151588);
    color: var(--color-light);
}
#contect .box:nth-child(4){
    background: linear-gradient(135deg, #515BD4, #8134AF, #DD2A7B, #F58529);
    color: var(--color-light);
}
#contect .box::after{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 48px;    
    height: 48px;
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 48px;
    opacity: 0.4;
}
#contect .box:nth-child(1)::after{
    background-image: url(../img/icons8-chat-50.png);
}
#contect .box:nth-child(2)::after{
    background-image: url(../img/naver.png);
}
#contect .box:nth-child(3)::after{
    background-image: url(../img/icons8-github-48.png);
}
#contect .box:nth-child(4)::after{
    background-image: url(../img/icons8-instagram-48.png);
}


/*
form> h1{
    text-align: center;
    color: rgb(124, 124, 124);
}
form> textarea{
    height: 250px;
}
form> button{
    width: 110px;
    height: 77px;
    margin: auto;
    background-color: rgb(97, 97, 97);
}

form :-webkit-any(input, textarea, button){
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.2);
    border: 0;
}

form :-webkit-any(input, textarea)::placeholder,
form> button{
    color:rgb(214, 214, 214);
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
*/

/*mobile*/
@media only screen and (max-width: 480px){
}