.intro { 
    height: 100vh;
}
.intro > video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
    background-color: black; 
}
.intro > .content {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    padding: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    text-align: center;

    /*fadein animation*/
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
    -o-animation: fadein 3s;
}
.intro > .content > h2 {
    display: inline-block;
    margin: 0px 4px;
    font-size: 40px; 
    color: #ffffff;
}
.intro > .content > h2:first-child{
    display: block;
}

/*mobile*/
@media only screen and (max-width: 480px){
    .intro > .content > h2{
        font-size: 16pt;
    }
}

