#modal {
    display: none;
    height: 300px;
    width: 500px;
    padding: 20px 40px;
    background-color: #fefefe;
    border-radius: 8px;
}
#modal> img:first-child{
    float: left;
    height: 72px;
    width: 72px;
    margin-right: 20px;
}
#modal> p{
    float: left;
    max-height: 300px;;
    overflow: auto;
}
#modal> .close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    width: 24px;
    height: 24px;
}

#modal> .arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);

    display: inline-block;
    width:0; 
    height:0; 
    border-style:solid ; 
    border-width: 25px 30px;
    background-color: transparent;
    cursor: pointer;
}  
#modal> .arrow:hover{
    filter: brightness(0.5);
    outline: 0;
}
#modal> .arrow:focus{
    outline: 0;
}
#modal> .left {
    left: -100px;
    border-color:transparent white transparent transparent; 
}
#modal> .right {
    right: -100px;
    border-color:transparent transparent transparent white;
}
#modal_layer{
    position: fixed;
    z-index: 10;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color:var(--color-layer);
}

/*모바일 버전*/
@media only screen and (max-width: 480px){
    #modal {
        height: 300px;
        width: calc(100vw - 100px);
        padding: 20px 30px 70px 30px;
    }
    #modal> img:first-child{
        float: none;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    #modal> p{
        max-height: 300px;
    }
    #modal> .arrow {
        top: auto;
        bottom: 0px;
        border-width: 20px 24px;
    }
    #modal> .left {
        left: 20px;
        border-color:transparent var(--color-default) transparent transparent;
    }
    #modal> .right {
        right: 20px;
        border-color:transparent transparent transparent var(--color-default);
    }
}

/*다크 모드 버전*/
@media (prefers-color-scheme: dark) {
    #modal_layer{
        background-color: rgba(0,0,0,0.9);
    }
}
  