#skill img{
    height: 48px;
    width: 48px;
}
#skill button{
    background-color: white;
    border-radius: 10%;
    border: 0;
    box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    cursor: pointer;
}
#skill button:-webkit-any(:hover,:focus){
    filter: brightness(90%);
    outline: 0;
}

#skill .box{
    visibility:hidden;
    overflow: hidden;
    height: 0;
}
#skill .box.expand{
    visibility:visible;
    height: 200px;
    transition: 0.4s;
}


/*mobile*/
@media only screen and (max-width: 480px){
    #skill img{
        height: 36px;
        width: 36px;
    }
}