header { 
    height: 100vh;
}
header > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    background-color: black; 
}
header > article {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    padding: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    text-align: center;

    /*fadein animation*/
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
    -o-animation: fadein 3s;
}
header h2 {
    display: inline-block;
    margin: 0;
    font-size: 40px; 
    color: #ffffff;
}
header h2:first-child{
    display: block;
    width: 100%;
}

header a{
  position: absolute;
  bottom: -200px;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -12px;
  border-left: 4px solid var(--color-light);
  border-bottom: 4px solid var(--color-light);

  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) (-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}

header a::before {
    position: absolute;
    top: 70%;
    left: 30%;
    z-index: -1;
    content: '';
    width: 5px;
    height: 5px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: stir 1.5s infinite;
    animation: stir 1.5s infinite;
    box-sizing: border-box;
    filter: blur(4px);
  }

@-webkit-keyframes sdb {
  0%    {opacity: 0; -webkit-transform: rotate(-45deg) translate(0, 0);}
  50%   {opacity: 1;}
  100%  {opacity: 0; -webkit-transform: rotate(-45deg) translate(-20px, 20px);}
}
@keyframes sdb {
  0%    {opacity: 0; -webkit-transform: rotate(-45deg) translate(0, 0);}
  50%   {opacity: 1;}
  100%  {opacity: 0; -webkit-transform: rotate(-45deg) translate(-20px, 20px);}
}
@-webkit-keyframes stir {
  0%    {opacity: 0;}
  40%   {opacity: 1;}
  70%   {opacity: 0; width: 100px; height: 100px;}
  100%  {opacity: 0;}
}
@keyframes stir {
  0%    {opacity: 0;}
  40%   {opacity: 1;}
  70%   {opacity: 0; width: 100px; height: 100px;}
  100%  {opacity: 0;}
}


/*mobile*/
@media only screen and (max-width: 480px){
    header h2{
        font-size: 16pt;
    }
    header a{
      bottom: -100px;
      width: 30px;
      height: 30px;
    }
}

