ul.nav{
    list-style: none;
    position: fixed;
    top: 0; 
    right: 10px;
    margin: 0;
    padding: 15px;
    background-color: rgba( 0, 0, 0, 0.5 );
    border-radius: 0px 0px 15px 15px;
    z-index: 1;
}
ul.nav > li{
    float: left;
}
ul.nav > li.current > a{
    color: #08FDD8;
    font-weight: 700;
}
ul.nav a{
    display: inline-block;
    text-align: center;
    width: 75px;
    margin: 0px 5px;
    color: white;
    text-decoration: none;
}
ul.nav a:hover {
    color: #08FDD8; 
    text-decoration: none;
}

/*mobile*/
@media only screen and (max-width: 480px){
    ul.nav{
        left: 0;
        padding: 0;
        width: 100vw;
        border-radius: 0px;
    }
    ul.nav a{
        font-size: 10pt;
        margin: 10px 4.5vw;
        width: 15vw;
    }
}