#about img{
    float: left;
    width: 250px;
    border-radius: 15px;
    margin: 15px;
}
#about #info{
    display: inline-block;
    width: 350px;
    padding: 50px 0;
}

#about #info> dt{
    float: left;
    width: 5em;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    color: rgb(124, 124, 124);
}

#about #info> dd{
    margin: 0;
    line-height: 30px;
}

/*mobile*/
@media only screen and (max-width: 480px){
    #about img{
        float: none;
        display: block;
        margin: 40px auto 20px auto;
        width: 180px;
    }
    #about #info{
        padding: 0;
        width: 100%;
    }
}